<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-md">
      <a class="navbar-brand" href="/poketamine"><img width="35%" src="https://fontmeme.com/permalink/221216/8821a38ccf8bf4b7c25c6026047670e3.png" alt="police-pokemon" border="0"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/poketamine/team">Go to teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/poketamine">Go to list</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 ">
   
            <h1>Details</h1>


            {% if pokemon %}
            <img width=25% src={{ pokemon.image }}></img>
            <h3>{{ pokemon.name.capitalize }}</h3>
            <ul class="list-group">
                <li class="list-group-item">Id: {{ pokemon.id }}</li>
                <li class="list-group-item">Height: {{ pokemon.height }}</li>
                <li class="list-group-item">Weight: {{ pokemon.weight }}</li>
                <li class="list-group-item">Type(s) : 
                    {% for type in pokemon.types %}
                    {{type}}
                    {%endfor%}</li>
                <li class="list-group-item d-flex justify-content-between">Best moves: 
                    
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      All moves
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      {% for move in pokemon.moves%}
                        <li><a class="dropdown-item" href="#">{{move}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </li>
            
       <div class="row">
        <div class="col">
            <br>
            {% if pokemon.prev %}
            <a style="text-decoration:none;"href="/poketamine/details/{{pokemon.prev.name}}">
                <button type="button" class="btn btn-light">< Previous</button>
            </a>
            {% endif %}
            {% if pokemon.next %}
            <a style="text-decoration:none;"href="/poketamine/details/{{pokemon.next.name}}">
                <button type="button" class="btn btn-light">Next ></button>
            </a>
            {% endif %}
        </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                <input style="width=50%" type="number" id="teamId" name="teamId" placeholder="Team id" required/>
                
                <button class="btn btn-success" onclick="addToTeam()">Add to team</button>
            </div>
        </div>
        </div>
    </div>
    
    {% else %}
    <p>No pokemon found.</p>
    {% endif %}
<script type="text/javascript">
    var pokemon = "{{ pokemon.name }}";
    console.log(pokemon);
    const addToTeam=async()=> {
        const teamId = document.getElementById("teamId").value;
        const response = await fetch('/poketamine/addToTeam/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({teamId: teamId, name: pokemon})
        });
        if (response.status == 200) {
            alert("Pokemon added to team");
        }
        else if (response.status == 406) {
            alert("Pokemon team is full");
        }
        else {
            alert("Error adding pokemon to team");
        }
    };
</script>
</div>
<div class="col-3">
</div>
</div>