<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<nav class="navbar bg-light">
    <div class="container-md">
        <a  class="navbar-brand" href="/poketamine"><img width="35%" src="https://fontmeme.com/permalink/221216/8821a38ccf8bf4b7c25c6026047670e3.png" alt="police-pokemon" border="0"></a>
      
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="/poketamine/team">Go to teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/poketamine">Go to list</a>
          </li>
  
      </ul>
      <form class="d-flex" action="/poketamine" role="search">
        <input class="form-control me-2" name="search" type="text" placeholder="Search for a pokemon" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>


<script type="text/javascript">

    const removeTeam = async(teamId) => {
        const response = await fetch('/poketamine/removeTeam/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({teamId: teamId})
        });
           if (response.status == 200) {
            alert("team " + teamId + " removed");
            window.location.href = "/poketamine/team";
        }
            else {
                alert("Failed to remove team " + teamId);
            }
    };

    const removePokemon = async(teamId, pokemonId) => {
        const response = await fetch('/poketamine/removePokemon/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({teamId: teamId, pokemonId: pokemonId})
        });
           if (response.status == 200) {
            alert("remove pokemon " + (pokemonId + 1) + " from team " + teamId);
            window.location.href = "/poketamine/team";
        }
            else {
                alert("Failed to remove pokemon " + pokemonId + " from team " + teamId);
            }
    };
</script>

<div class="container">
    
       
        
    <h1>Teams</h1>
<br>
{% if teams %}

    {% for key, team in teams.items %}
    <h2>Team Number: {{ team.teamId }}</h2>
    <button class="btn btn-danger" type="button" onclick="removeTeam({{ key }})">Delete Team</button>
       
    
        
            
            <div class="row">
                {% for pokemon in team.pokemons %}
                <div class="col-3">
                <img width="60%" src={{ pokemon.image }}></img>
                <h3>{{ pokemon.name.capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">Id: {{ pokemon.id }}</li>
                    <li class="list-group-item">Height: {{ pokemon.height }}</li>
                    <li class="list-group-item">Weight: {{ pokemon.weight }}</li>
                    <li class="list-group-item">Type(s) : 
                        {% for type in pokemon.types %}
                        {{type}}
                        {%endfor%}</li>
                    <li class="list-group-item d-flex justify-content-between">Best moves: 
                        
                        <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          All moves
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          {% for move in pokemon.moves%}
                            <li><a class="dropdown-item">{{move}}</a></li>
                            {%endfor%}
                        </ul>
                    </li>
                    <li class="list-group-item d-flex justify-content-center">
                        <button type="button" class="btn btn-warning" onclick="removePokemon({{ team.teamId}} , {{forloop.counter0}}  )">Delete Pokemon From Team</button>
                    </li>
                    </ul>
                </div>
                {% endfor %}  
            
        
    </div>
    {% endfor %}
   
{% else %}
    <p>No teams found.</p>
{% endif %}

</div>
<div class="col-4">
</div>
</div>
</div>
