<script type="text/javascript">

    const removeTeam = async(teamId) => {
        const response = await fetch('/poketamine/removeTeam/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({teamId: teamId})
        });
           if (response.status == 200) {
            alert("team " + teamId + " removed");
            window.location.href = "/poketamine/team";
        }
            else {
                alert("Failed to remove team " + teamId);
            }
    };

    const removePokemon = async(teamId, pokemonId) => {
        const response = await fetch('/poketamine/removePokemon/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({teamId: teamId, pokemonId: pokemonId})
        });
           if (response.status == 200) {
            alert("remove pokemon " + (pokemonId + 1) + " from team " + teamId);
            window.location.href = "/poketamine/team";
        }
            else {
                alert("Failed to remove pokemon " + pokemonId + " from team " + teamId);
            }
    };
</script>
<h1>Teams</h1>
<a href="/poketamine/">
    <button>Back to the list</button>
</a>
{% if teams %}
<ul>
    {% for key, team in teams.items %}
        <li>
            <h2>Team Number: {{ team.teamId }}</h2>
            <button type="button" onclick="removeTeam({{ key }})">Delete Team</button>
            <ul>
                {% for pokemon in team.pokemons %}
                    <li>
                        <h3>{{ pokemon.name }}</h3>
                        <image src={{ pokemon.image }}></image>
                        <p>Id: {{ pokemon.id }}</p>
                        <p>Types: {{ pokemon.types }}</p>
                        <p>Height: {{ pokemon.height }}</p>
                        <p>Weight: {{ pokemon.weight }}</p>
                        <p>Moves: {{ pokemon.moves }}</p>
                        <button type="button" onclick="removePokemon({{ team.teamId}} , {{forloop.counter0}} )">Delete Pokemon From Team</button>
                    </li>
                {% endfor %}  
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teams found.</p>
{% endif %}



