<h1>team</h1>

{% if teams %}
<ul>
    {% for key, team in teams.items %}
        <li>
            <h2>Team Number: {{ team.teamId }}</h2>
            <button type="button" onclick="removeTeam({{ key }})">Delete Team</button>
            <ul>
                {% for pokemon in team.pokemons %}
                    <li>
                        <h3>{{ pokemon.name }}</h3>
                        <image src={{ pokemon.image }}></image>
                        <p>Id: {{ pokemon.id }}</p>
                        <p>Types: {{ pokemon.types }}</p>
                        <p>Height: {{ pokemon.height }}</p>
                        <p>Weight: {{ pokemon.weight }}</p>
                        <p>Moves: {{ pokemon.moves }}</p>
                        <button type="button" onclick="removePokemon({{ team.teamId}} , {{forloop.counter0}} )">Delete Pokemon From Team</button>
                    </li>
                {% endfor %}  
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pokemon found.</p>
{% endif %}

<script  type="text/javascript">
    const removePokemon = (teamId, pokemonId) => {
        alert("remove pokemon " + (pokemonId + 1) + " from team " + teamId)
    }
    const removeTeam = (teamId) => {
        alert("remove team " + teamId)
    }
</script>

